<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>ampere BNB</title>
</head>

<body>
    <h1 class="heading">Wonderful OLD TOWN apartment M10</h1>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 6</div>
            <img src="static/images/img2.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
            <img src="static/images/img1.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 6</div>
            <img src="static/images/img3.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 6</div>
            <img src="static/images/img4.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 6</div>
            <img src="static/images/img5.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
            <div class="numbertext">6 / 6</div>
            <img src="static/images/img6.jpg" style="width:100%">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div>
        <h2>Entire rental unit hosted by Imants</h2>

        <ol class="nobull">
            <li class="nobull">
                <span>5 guests</span>
            </li>
            <li class="nobull">
                <span aria-hidden="true"> · </span>
                <span>2 bedrooms</span>
            </li>
            <li class="nobull">
                <span aria-hidden="true"> · </span>
                <span>3 beds</span>
            </li>
            <li class="nobull">
                <span aria-hidden="true"> · </span>
                <span>1 bath</span>
            </li>
        </ol>

        <div class="profile_img" role="img" aria-busy="false">
            <img class="profile_img" aria-hidden="true"
                src="https://a0.muscache.com/im/pictures/user/9e525659-99da-40a6-8793-265675760033.jpg?aki_policy=profile_small">
        </div>
        <hr class="line_break">
    </div>


    <div class="basic_info">
        <div class="basic_info">
            <h3>Self check-in </h3>
            <p> Check yourself in with the lockbox.</p>
        </div>
        <div class="basic_info">
            <h3>Furry friends welcome</h3>
            <p>Bring your pets along for the stay.</p>
        </div>
        <hr class="line_break">
    </div>

    <div class="about_space">
        <div class="about_space_basic">
            <p> Perfect location in the Middle of Old Town.
                <br> Just finished nice renovation in the apartment, change floor for wood one, change all furniture,
                nice queen size beds.
                <br> On the ground floor we have coffee shop it possible have a brakfast all day long!
            </p>
        </div>
        <div class="about_space_the_space">
            <h3>The space</h3>
            <p>Apartment located on the top floor, it's perfect quiet location.
                Apartment have two separate bedrooms and kitchen connected with living room</p>
        </div>
        <div class="Guest access">
            <h3>Guest access</h3>
            <p>Apartment is provided with all necessary for living: fresh bed linen, towels, kitchen utensils, dryer,
                iron and ironing board, stove cooktop, refrigerator, coffee maker, WiFi.</p>
        </div>
        <div class="about_space_other">
            <h3>Other things to note</h3>
            <p>We provide self check - in instruction.
                Smoking and partying is forbidden
            </p>
        </div>
    </div>
    <hr class="line_break">
    <div class="sleep_space">
        <h3> Where you'll sleep </h3>
        <div class="sleep_space_box">
            <h3 id="sleep_space_box_head"> Bedroom 1 </h3>
            <p id="sleep_space_box_txt"> 1 queen bed </p>
        </div>
        <div class="sleep_space_box">
            <h3 id="sleep_space_box_head"> Bedroom 2 </h3>
            <p id="sleep_space_box_txt"> 1 queen bed </p>
        </div>
        <div class="sleep_space_box">
            <h3 id="sleep_space_box_head"> Living room </h3>
            <p id="sleep_space_box_txt"> 1 single bed </p>
        </div>
        <hr class="line_break">
    </div>

    <div class="offers">
        <h3>What this place offers</h3>
        <table class="offers" style="width:100%">
            <tr>
                <td>Hair dryer</td>
                <td>Hot water</td>
            </tr>
            <tr>
                <td>Washer</td>
                <td>Dryer</td>
            </tr>
            <tr>
                <td>Towels, bed sheets, soap, and toilet paper</td>
                <td>Hangers</td>
            </tr>
            <tr>
                <td>Iron</td>
                <td>TV with standard cable</td>
            </tr>
            <tr>
                <td>Crib</td>
                <td>High chair</td>
            </tr>
            <tr>
                <td>Heating</td>
                <td>Smoke alarm</td>
            </tr>
            <tr>
                <td>Carbon monoxide alarm</td>
                <td>Fire extinguisher</td>
            </tr>
            <tr>
                <td>Wifi</td>
                <td>Space where guests can cook their own meals</td>
            </tr>
            <tr>
                <td>Refrigerator</td>
                <td>Microwave</td>
            </tr>
            <tr>
                <td>Bowls, chopsticks, plates, cups, etc.</td>
                <td>Coffee maker</td>
            </tr>
            <tr>
                <td>The home or building has an elevator wide.</td>
                <td>Paid parking off premises</td>
            </tr>
            <tr>
                <td>Assistance animals are always allowed</td>
                <td>Self check-in</td>
            </tr>
            <tr>
                <td>Lockbox</td>
                <td>Allow stay for 28 days or more</td>
            </tr>
        </table>
        <hr class="line_break">
    </div>

    <div class="review">
        <h3>Review</h3>
        <hr class="line_break">
    </div>

    <div class="map">
        <h3>Where you’ll be</h3>
        <div id="map"></div>
        <h3>Riga, Latvia</h3>
        <p>The apartment is located in the heart of Old Town. The apartment is located in one of the oldest and thus the
            most popular streets of Riga.
            The apartment location is very convenient for stay, all you need is a 2-3 minute walk from the apartment:
            bars, restaurants, McDonalds,
            shopping center, promenade, central park, Drama Theatre, National Opera.</p>
        <h3>Getting around</h3>
        <p>To the railway station - 500 meters
            The buss station - 300 meters to the airport - 15km - to stop the bus, which will allow access to the
            airport - 200 meters.</p>
        <hr class="line_break">
    </div>

    <section>
        <div class="host_profile">
            <h3>Hosted by Imants</h3>
            <div class="fast_host_info">
                <ol class="fast_host_info">
                    <li class="fast_host_info">
                        <span>Joined in September 2013</span>
                    </li>
                    <li class="fast_host_info">
                        <span aria-hidden="true"> · </span>
                        <span>1,654 Reviews</span>
                    </li>
                    <li class="fast_host_info">
                        <span aria-hidden="true"> · </span>
                        <span>Identity verified</span>
                    </li>
                </ol>
                <p>
                    We provide great accommodation offers, nice attitude and good prices!<br><br>
                    If needed we will also provide some additional services and assistance in possible manner.
                </p>
                <h3>During your stay</h3>
                <p>The host will try to assist guests in all matters relating to their apartment and stay in her comfort
                    in mind.
                </p>
            </div>
            <div class="fhhmddr">
                <ul class="fhhmddrss">
                    <li class="f19phm7j">Languages: <span class="ll4r2nl">English, Русский</span>
                    </li>
                    <li class="f19phm7j">Response rate: <span class="ll4r2nl">98%</span></li>
                    <li class="f19phm7j">Response time: <span class="ll4r2nl">within a few hours</span></li>
                </ul>
            </div>
        </div>
        <hr class="line_break">
    </section>

    <section>
        <h3>Things to know</h3>
        <table class="bolding" style="width:100%">
            <tr>
                <td id="bolding">House rulesr</td>
                <td id="bolding">Health & safety</td>
            </tr>
            <tr>
                <td>Check-in: After 3:00 PM</td>
                <td>Airbnb's COVID-19 safety practices apply</td>
            </tr>
            <tr>
                <td>Checkout: 11:00 AM</td>
                <td>Carbon monoxide alarm</td>
            </tr>
            <tr>
                <td>Self check-in with lockbox</td>
                <td>Smoke alarm</td>
            </tr>
            <tr>
                <td>No smoking</td>
                <td>Security Deposit - if you damage the home, you may be charged up to € 150</td>
            </tr>
            <tr>
                <td>No parties or events</td>
                <td>Smoke alarm</td>
            </tr>
            <tr>
                <td>Pets are allowed</td>
                <td></td>
            </tr>
        </table>
        <h3>Cancellation policy</h3>
        <p>
            Add your trip dates to get the cancellation details for this stay.
        </p>
    </section>

    <footer>
        <p>Limited use for educational purpose</p>
    </footer>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU_e8xwwBC69hGcNEpNZ5sPJ0v0ZJXtuo&callback=initMap&v=weekly"
        defer>
        </script>
    <script src="../static/js/script.js"></script>
</body>

</html>