table {
  border-collapse: collapse;
  width: 30%;
    margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#btn_prev, #btn_next{
    margin-left: 50%;
}

